services:
  - type: web
    name: white-star
    env: python
    plan: free

    buildCommand: "pip install -r requirements.txt"
    startCommand: "bash -c 'python -m http.server $PORT & python bot.py'"

    envVars:
      - key: API_TOKEN
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
      - key: NEW_ADMIN_CHANNEL
        sync: false
