services:
  # -------- БОТ (worker) --------
  - type: worker
    name: white-star-bot
    env: python
    region: frankfurt
    plan: free

    rootDir: .
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py

    disk:
      name: bot-data
      mountPath: /data
      sizeGB: 1

  # -------- ВЕБ-САЙТ CIS (web) --------
  - type: web
    name: cis-webapp
    env: python
    region: frankfurt
    plan: free

    rootDir: .
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn cis_webapp.main:app --host 0.0.0.0 --port $PORT
