services:
  - type: worker
    name: star-bot
    env: python
    plan: starter          # раньше было free, теперь Starter
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python bot.py"
    envVars:
      - key: API_TOKEN
        sync: false        # значение задашь в настройках сервиса на Render
      - key: SUBGRAM_API_KEY
        sync: false
      - key: NEW_ADMIN_CHANNEL
        value: "sdafsadfsdaf13"
      - key: CHANNEL_FOR_WITHDRAW
        value: "-1003003114178"
