services:
  - type: worker
    name: star-bot
    env: python
    region: frankfurt
    plan: starter
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python bot.py"

    disk:
      name: star-disk
      mountPath: /data
      sizeGB: 1

    envVars:
      - key: API_TOKEN
        sync: false
      - key: SUBGRAM_API_KEY
        sync: false
      - key: NEW_ADMIN_CHANNEL
        value: "sdafsadfsdaf13"
      - key: CHANNEL_FOR_WITHDRAW
        value: "-1003003114178"
